@if (sensorData().length > 0) {
    <div class="active-wrapper">
        <p-card header="Температура">
            <h1>{{ latestData()?.temperature }}°C</h1>
            <span class="small">Max: {{ sensorData() | maxTempPipe }}°C</span>
            <br>
            <span class="small">Min: {{ sensorData() | minTempPipe }}°C</span>
        </p-card>
        <p-card header="Влажност">
            <h1>{{ latestData()?.humidity }}%</h1>
            <p-progressbar [value]="latestData()?.humidity" [showValue]="false"></p-progressbar>
            <br>
            <span class="small">Avg: {{ sensorData() | averageHumPipe }}%</span>
        </p-card>
        @if (pm2Aqi()) {
            <p-card header="pm 2.5 AQI">
                <div class="aqi-title">
                    <h1 [className]="aqiCategoryClass[pm2Aqi()!.category]">{{ pm2Aqi()!.aqi }}</h1>
                    <h4>{{ latestData()?.pm25 }}μg/m³</h4>
                </div>
                <span>{{ aqiCategoryName[pm2Aqi()!.category] }}</span>
                <br>
                <span class="small">Now cast: {{ pm2Aqi()!.nowcastConcentration.toFixed(2) }}</span>
                <br>
                <span class="small">Искористени часови: {{ pm2Aqi()!.hoursUsed }}</span>
            </p-card>
        }
        @if (pm10Aqi()) {
            <p-card header="pm 10 AQI">
                <div class="aqi-title">
                    <h1 [className]="aqiCategoryClass[pm10Aqi()!.category]">{{ pm10Aqi()!.aqi }}</h1>
                    <h4>{{ latestData()?.pm10 }}μg/m³</h4>
                </div>
                <span>{{ aqiCategoryName[pm10Aqi()!.category] }}</span>
                <br>
                <span class="small">Now cast: {{ pm10Aqi()!.nowcastConcentration.toFixed(2) }}</span>
                <br>
                <span class="small">Искористени часови: {{ pm10Aqi()!.hoursUsed }}</span>
            </p-card>
        }
    </div>
} @else {
    <p-card header="No data">
        <p>Нема податоци од сензори</p>
    </p-card>
}

<div class="tem-hub-block">
    @if (temperatureData()) {
        <p-card header="Температура на воздух">
            <p-chart type="line" [data]="temperatureData()" [options]="temperatureOptions()"></p-chart>
        </p-card>
    }
    @if (humidityData()) {
        <p-card header="Влажност во воздух">
            <p-chart type="line" [data]="humidityData()" [options]="percentageOptions"></p-chart>
        </p-card>
    }
</div>
<div class="hour-average-block">
    @if(pm25hourlyAverage()) {
        <p-card header="Средна вредност на pm 2.5 по час">
            <p-chart type="bar" [data]="pm25hourlyAverage()" [options]="option"></p-chart>
        </p-card>
    }
    @if(pm10hourlyAverage()) {
        <p-card header="Средна вредност на pm 10 по час">
            <p-chart type="bar" [data]="pm10hourlyAverage()" [options]="option"></p-chart>
        </p-card>
    }
</div>
@if (data()) {
    <p-card class="line-data" header="Мерени честички во воздух (μg/m³)">
        <p-chart type="line" [data]="data()" [options]="option"></p-chart>
    </p-card>
}
<div class="footer">
    <button pButton [routerLink]="'/history'">Историски податоци</button>
</div>