.active-wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.small {
    font-size: small;
}

.tem-hub-block {
    width: 99%;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.line-data {
    margin-top: 2rem;
}

.tem-hub-block > p-card {
    flex: 1;
}

.hour-average-block {
    width: 99%;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.hour-average-block > p-card {
    flex: 1;
}

.aqi-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin: 1rem;
}