.wrapper {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.form-group {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last {
    padding-bottom: 0;
}